.navbar-brand{
  font-weight: bold;
  font-size: 30px;
  padding: 10px;
}

.rayita{
  text-decoration: underline;
}




.jumbo-fondo {
   background-image: url("jumbo.png");
   background-size: contain;
   background-repeat: no-repeat;
   background-position: right;
   background-color:rgba(199, 105, 244, 0);

}
